/*******************************************************************************
* Imported styles and fonts *
*******************************************************************************/

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-normal.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-600.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-italic.woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("../fonts/alegreya-sc-500.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/*******************************************************************************
* Global settings *
*******************************************************************************/

:root {
  --color-logo:          #e64e43; /* hsl(4, 77%, 58%) */
  --color-red:           hsl(4, 77%, 42%);
  --color-platinum:      #e9eae4; /* hsl(70, 13%, 91%) */
  --color-platinum-dark: hsl(70, 13%, 42%);
  --color-green-dark:    hsl(70, 45%, 25%);
  --color-white:         hsl(0, 0%, 100%);
  --color-gray-lighter:  hsl(0, 0%, 88%);
  --color-gray-light:    hsl(0, 0%, 75%);
  --color-gray-dark:     hsl(0, 0%, 20%);
  --color-black:         hsl(0, 0%, 10%);

  --color-shadow:         hsla(0, 0%, 0%, 0.3);
  --color-shadow-light:   hsla(0, 0%, 0%, 0.2);
  --color-shadow-dark:    hsla(0, 0%, 0%, 0.6);
  --color-shadow-darker:  hsla(0, 0%, 0%, 0.8);
  --color-shadow-inverse: hsla(0, 0%, 100%, 0.3);

  --opacity-s: 0.65;
  --opacity-l: 0.45;

  --space-xxs: 2px;
  --space-xs:  4px;
  --space-s:   8px;
  --space-m:   12px;
  --space-l:   16px;
  --space-xl:  24px;
  --space-xxl: 32px;
  --space-3xl: 48px;
  --space-4xl: 64px;

  --text-xs:  13px;
  --text-s:   16px;
  --text-m:   18px;
  --text-l:   22px;
  --text-xl:  28px;
  --text-xxl: 30px;

  --line-height-s: 1.4;
  --line-height-m: 1.6;

  --shadow-xxs: 0 calc(var(--space-xxs) / 4) var(--space-xxs);
  --shadow-xs:  0 calc(var(--space-xs) / 4) var(--space-xs);
  --shadow-s:   0 calc(var(--space-s) / 4) var(--space-s);

  --max-website-width: 1248px;
  --website-padding: var(--space-xl);

  --trans-time-s: 0.2s;
  --trans-time-m: 0.5s;
  --trans-func: linear;
}

@media (max-width: 1030px) {
  :root {
    --space-xxs: 1px;  /* - 1px */
    --space-xs:  3px;  /* - 1px */
    --space-s:   6px;  /* - 2px */
    --space-m:   10px; /* - 2px */
    --space-l:   13px; /* - 3px */
    --space-xl:  21px; /* - 3px */
    --space-xxl: 28px; /* - 4px */
    --space-3xl: 44px; /* - 4px */
    --space-4xl: 59px; /* - 5px */

    --text-xs:  12px;
    --text-s:   15px;
    --text-m:   16px;
    --text-l:   20px;
    --text-xl:  23px;
    --text-xxl: 27px;
  }
}

/*******************************************************************************
* Basic elements *
*******************************************************************************/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font: var(--text-m)/var(--line-height-m) "Open Sans", Verdana, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

h1, h2, h3 {
  font-weight: bold;
  line-height: var(--line-height-s);
}

h1 {
  font-size: var(--text-xxl);
  display: inline;
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-l);
}

img, svg,
input, textarea,
video {
  display: block;
}

ul, ol {
  list-style-type: none;
}

a, button {
  transition: opacity var(--trans-time-s) var(--trans-func);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

button {
  background-color: transparent;
  font: inherit;
  text-align: left;
  border: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  a:hover,
  button:hover {
    opacity: var(--opacity-l);
  }
}

input, textarea {
  font: inherit;
  color: inherit;
  border: none;
  background-color: none;
  /* Remove default OS styling including "box-shadow" used by some browsers */
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow: auto; /* In case some browsers default to "scroll" */
}

a, button,
input, textarea {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.user-is-tabbing a:focus,
.user-is-tabbing button:focus,
.user-is-tabbing input:focus,
.user-is-tabbing textarea:focus {
  outline: 2px solid var(--color-red);
  outline-offset: var(--space-xs);
}

/*******************************************************************************
* Utility classes *
*******************************************************************************/

.container {
  max-width: var(--max-website-width);
  margin: 0 auto;
  padding-left: var(--website-padding);
  padding-right: var(--website-padding);
}

.container-s {
  max-width: 850px;
}

.section {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}

.section-more-pad {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
}

.section-heading {
  padding-bottom: var(--space-xxl);
  text-align: center;
}

.section-more-pad .section-heading {
  padding-bottom: var(--space-3xl);
}

.container-s .section-heading {
  max-width: 600px;
  margin: 0 auto;
}

.section-sub-heading {
  font-size: var(--text-m);
  font-style: italic;
  margin-top: var(--space-m);
}

.grid {
  display: grid;
  gap: var(--space-xxl);
  /* Or "min(280px, 100%)" instead of a media query */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.click-area {
  position: relative;
}

.click-area::after {
  content: "";
  position: absolute;
  top: calc(0px - var(--space-s));
  bottom: calc(0px - var(--space-s));
  left: calc(0px - var(--space-m));
  right: calc(0px - var(--space-m));
}

.hide {
  display: none !important;
}

/*******************************************************************************
* Buttons *
*******************************************************************************/

.btn {
  padding: var(--space-s) var(--space-l);
  border: 1px solid var(--color-red);
  box-shadow: var(--shadow-xs) var(--color-shadow);
  color: var(--color-red);
  border-radius: var(--space-s);
  display: inline-block;
  text-align: center; /* In case there are several lines of text */
  transition: opacity var(--trans-time-s) var(--trans-func);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    opacity: var(--opacity-l);
  }
}

.btn-lg {
  padding: var(--space-m) var(--space-xl);
  border-radius: var(--space-m);
}

.btn-filled {
  background-color: var(--color-red);
  color: #fff;
}

@media (hover: hover) and (pointer: fine) {
  .btn-filled:hover {
    opacity: var(--opacity-s);
  }
}

/*******************************************************************************
* Triangles *
*******************************************************************************/

.tr {
  --base: 200px;
  --base-angle: 30deg;
  --tan: 0.57735; /* tan(30) = 0.57735, tan(45) = 1, tan(60) = 1.73205 */
  --sin: 0.5; /* sin(30) = 0.5, sin(45) = 0.70711, sin(60) = 0.86603 */
  --space-top: 0px; /* For example, to accomodate box-shadow */
  --space-lr: 0px;
  overflow: hidden;
  position: relative;
  --base-plus-space: calc(var(--base) + var(--space-lr) * 2);
  --altitude-plus-space:
    calc((var(--base) / 2) * var(--tan) + var(--space-top));
  --rect-side: calc(var(--base) * var(--sin));
  --skew-angle: calc(90deg - var(--base-angle) * 2);
}

.tr .tr-shape {
  background-color: var(--color-red);
  position: absolute;
}

.tr-up {
  width: var(--base-plus-space);
  height: var(--altitude-plus-space);
}

.tr-up .tr-shape {
  height: var(--rect-side);
  left: 0;
  right: 0;
  bottom: 0;
  margin: var(--space-top) var(--space-lr) 0;
  transform-origin: 0 100%;
  transform:
    rotate(var(--base-angle)) skewX(calc(0deg - var(--skew-angle)));
}

.tr-down {
  width: var(--base-plus-space);
  height: var(--altitude-plus-space);
}

.tr-down .tr-shape {
  height: var(--rect-side);
  left: 0;
  right: 0;
  top: 0;
  margin: 0 var(--space-lr) var(--space-top);
  transform-origin: 100% 0;
  transform:
    rotate(var(--base-angle)) skewX(calc(0deg - var(--skew-angle)));
}

.tr-left {
  width: var(--altitude-plus-space);
  height: var(--base-plus-space);
}

.tr-left .tr-shape {
  width: var(--rect-side);
  top: 0;
  bottom: 0;
  right: 0;
  margin: var(--space-lr) 0 var(--space-lr) var(--space-top);
  transform-origin: 100% 100%;
  transform:
    rotate(var(--base-angle)) skewY(var(--skew-angle));
}

.tr-right {
  width: var(--altitude-plus-space);
  height: var(--base-plus-space);
}

.tr-right .tr-shape {
  width: var(--rect-side);
  top: 0;
  bottom: 0;
  left: 0;
  margin: var(--space-lr) var(--space-top) var(--space-lr) 0;
  transform-origin: 0 0;
  transform:
    rotate(var(--base-angle)) skewY(var(--skew-angle));
}

/*******************************************************************************
* Price tag *
*******************************************************************************/

.tag {
  --height: calc(2 * var(--text-s));
  display: inline-flex;
  position: relative;
}

.tag-tr-on-top,
.tag-tr-below {
  --base: calc(3 * var(--height) / 5);
  --base-angle: 60deg;
  --tan: 1.73205;
  --sin: 0.86603;
  --space-top: var(--space-xs);
  --space-lr: calc(var(--height) / 5);
}

.tag-tr-on-top .tr-shape,
.tag-tr-below .tr-shape {
  background-color: var(--color-platinum-dark);
}

.tag-tr-on-top .tr-shape {
  border: 1px solid var(--color-black);
  box-shadow: var(--shadow-xs) var(--color-shadow-dark);
}

.tag-tr-on-top::after { /* Circle */
  content: "";
  width: calc(var(--base) / 3);
  height: calc(var(--base) / 3);
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--color-black);
  box-shadow: var(--shadow-xxs) var(--color-shadow-dark) inset;
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
}

.tag-tr-below { /* Without it there might be a small gap when rotating a tag */
  position: absolute;
  z-index: -1;
  left: 1px;
}

.tag-content {
  font-size: var(--text-s);
  font-weight: bold;
  white-space: nowrap;
  height: var(--height);
  box-shadow: var(--shadow-xs) var(--color-shadow-dark);
  background-color: var(--color-platinum-dark);
  border-radius: var(--space-s);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 var(--space-m);
  border: 1px solid var(--color-black);
  margin-left: -1px;
  z-index: -2;
}

/*******************************************************************************
* Styled list *
*******************************************************************************/

.styled-list {
  counter-reset: list;
}

.styled-list > * {
  counter-increment: list;
  display: flex;
  align-items: flex-start;
}

.styled-list > *::before { /* List item number */
  content: counter(list);
  flex-shrink: 0;
  background-color: var(--color-red);
  color: #fff;
  border-radius: 50%;
  font-size: var(--text-l);
  width: calc(2.25 * var(--text-l));
  /* Vertically center a single line of text */
  line-height: calc(2.25 * var(--text-l));
  text-align: center;
  box-shadow: var(--shadow-s) var(--color-shadow);
}

.styled-list-text {
  padding-left: var(--space-m);
  /* Center the first line of text with the circle */
  padding-top: calc((2.25 * var(--text-l) - 1em * var(--line-height-m)) / 2);
}

/*******************************************************************************
* Cover *
*******************************************************************************/

.cover {
  background-color: var(--color-platinum);
}

@media (max-width: /*breakpoint*/720px) {
  .cover {
    background-color: transparent;
  }
}

.cover-img {
  max-width: 1324px;
  min-height: 690px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1249px) {
  .cover-img {
    background: url("../images/cover/cover-big-92.jpg") 50%/cover;
  }
}

@media (min-width: 721px) and (max-width: 1248px) {
  .cover-img {
    background: url("../images/cover/cover-medium-80.jpg") 50% 25.7%/cover;
  }
}

@media (max-width: /*breakpoint*/720px) {
  .cover-img {
    min-height: 0;
  }

  .cover-img-sm-scr {
    height: 408px;
    background: url("../images/cover/cover-small-75.jpg") 0 0/cover;
  }
}

.cover-content-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cover-content {
  width: 50%;
  padding: var(--space-3xl) 0;
}

@media (max-width: /*breakpoint*/720px) {
  .cover-content {
    width: 100%;
    padding: var(--space-xl) 0 0;
  }
}

.cover-content > * + * {
  margin-top: var(--space-xxl);
}

.cover-tag {
  position: absolute;
  transform: translateY(10%) rotate(7deg);
  transform-origin: 0 100%;
}

@media (max-width: /*breakpoint*/720px) {
  .cover-tag {
    position: static;
    height: 1px;
    transform: rotate(5deg);
    vertical-align: sub;
  }
}

.cover-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--space-m)) calc(0px - var(--space-l));
  font-size: var(--text-s);
}

.cover-buttons > * {
  margin: var(--space-m) var(--space-l);
}

/*******************************************************************************
* Header *
*******************************************************************************/

.header-placeholder {
  width: 100%;
}

.header-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.header-sticky .header-wrapper {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  background-color: var(--color-platinum);
  box-shadow: var(--shadow-s) var(--color-shadow);
}

.header-hide {
  transform: translateY(-100%);
}

.header-slide-in {
  transform: translateY(100%);
  transition: transform var(--trans-time-m) var(--trans-func);
}

.header {
  display: flex;
  align-items: center;
  padding-top: var(--space-xl);
}

.header-sticky .header {
  padding-top: 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-link {
  transition: none;
}

@media (hover: hover) and (pointer: fine) {
  .header-logo-link:hover {
    opacity: 1;
  }
}

.header-logo-img {
  height: calc(5 * var(--text-s));
  width: auto;
}

@media (max-width: /*breakpoint*/480px) {
  .header-logo-img {
    height: calc(4 * var(--text-s));
  }
}

.header-sticky .header-logo-img {
  height: calc(3.5 * var(--text-s));
}

.header-logo-text {
  font: 500 var(--text-s)/var(--line-height-s) "Alegreya SC", Arial, sans-serif;
  margin-left: var(--space-l);
}

@media (max-width: 360px) {
  .header-logo-text {
    display: none;
  }
}

.header-nav-and-contacts {
  min-width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: /*breakpoint*/480px) {
  .header-nav-and-contacts {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-contacts > * + * {
  margin-left: var(--space-xxl);
}

@media (max-width: /*breakpoint*/640px) {
  .header-contacts > * + * {
    margin-left: var(--space-xl);
  }
}

.header-whatsapp {
  display: flex;
  align-items: center;
  transition: none;
}

@media (hover: hover) and (pointer: fine) {
  .header-whatsapp:hover {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .header-whatsapp {
    display: none;
  }
}

@media not all and (max-width: /*breakpoint*/480px) {
  .header-sticky .header-whatsapp {
    display: none;
  }
}

.header-whatsapp-icon {
  fill: var(--color-black);
  height: var(--text-l);
  transition: opacity var(--trans-time-s) var(--trans-func);
}

@media (hover: hover) and (pointer: fine) {
  .header-whatsapp:hover .header-whatsapp-icon {
    opacity: var(--opacity-l);
  }
}

.header-whatsapp-text {
  font-size: var(--text-xs);
  opacity: var(--opacity-s);
  margin-left: var(--space-s);
}

@media (max-width: /*breakpoint*/840px) {
  .header-whatsapp-text {
    display: none;
  }
}

.header-phone {
  display: flex;
  align-items: center;
}

@media not all and (max-width: /*breakpoint*/480px) {
  .header-sticky .header-phone  {
    display: none;
  }
}

.header-phone-icon {
  fill: var(--color-red);
  height: var(--text-xxl);
}

.header-phone-text {
  margin-left: var(--space-m);
}

@media (max-width: /*breakpoint*/840px) {
  .header-phone-text {
    display: none;
  }
}

.header-phone-number {
  display: inline-block;
  font-size: var(--text-m);
  font-weight: bold;
}

.header-phone-hours {
  font-size: var(--text-xs);
  opacity: var(--opacity-s);
  margin-top: var(--space-xxs);
}

.header-contacts .btn {
  font-size: var(--text-s);
}

@media (max-width: /*breakpoint*/640px) {
  .header-contacts .btn {
    display: none;
  }
}

@media not all and (max-width: /*breakpoint*/480px) {
  .header-sticky .header-contacts .btn {
    display: none;
  }
}

.header .nav {
  margin-top: var(--space-s);
  margin-left: var(--space-xl);
}

@media (max-width: /*breakpoint*/840px) {
  .header .nav {
    margin-top: var(--space-m);
  }
}

@media (max-width: /*breakpoint*/640px) {
  .header .nav {
    margin-top: var(--space-l);
  }
}

@media (max-width: /*breakpoint*/480px) {
  .header .nav {
    margin-top: 0;
  }
}

/*******************************************************************************
* Navigation *
*******************************************************************************/

.nav {
  display: flex;
  font-size: var(--text-xs);
  position: relative; /* For dropdown */
}

.nav-no-javascript {
  overflow-x: auto;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-no-javascript {
    overflow-x: visible;
  }
}

.nav > *:first-child {
  margin-left: auto;
}

.nav > * + * {
  margin-left: var(--space-xl);
}

.nav-item,
.nav-more,
.nav-item-dropdown {
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-item {
    display: none;
  }
}

.nav-more-and-dropdown {
  display: none;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-more-and-dropdown {
    display: block;
    margin-left: auto;
  }
}

.nav-more {
  display: flex;
  align-items: center;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-more {
    display: none;
  }
}

.nav-dropdown-open .nav-more {
  opacity: var(--opacity-l);
}

.nav-more-icon {
  fill: var(--color-red);
  height: var(--space-s);
  margin-left: var(--space-s);
  transition: transform var(--trans-time-s) var(--trans-func);
}

.nav-dropdown-open .nav-more-icon {
  transform: rotate(180deg);
}

.nav-mobile {
  display: none;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-mobile {
    display: block;
    position: relative; /* For closing icon */
    transition: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .nav-mobile:hover {
      opacity: 1;
    }
  }

  .nav-mobile::after { /* Clickable area on top of dropdown */
    z-index: 12;
  }

  .nav-mobile-icon,
  .nav-close-icon {
    height: var(--text-xxl);
    transition: opacity var(--trans-time-s) var(--trans-func);
  }

  .nav-mobile-icon {
    fill: var(--color-red);
  }

  .nav-dropdown-open .nav-mobile-icon {
    opacity: 0;
  }

  .nav-close-icon {
    fill: var(--color-red);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  .nav-dropdown-open .nav-close-icon {
    opacity: var(--opacity-l);
  }
}

.nav-dropdown {
  position: absolute;
  z-index: 11;
  right: 0;
  top: 100%;
  margin-top: var(--space-l);
  padding: var(--space-l) 0;
  text-align: right;
  border-radius: var(--space-s);
  background-color: var(--color-white);
  box-shadow: var(--shadow-s) var(--color-shadow);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--trans-time-s) var(--trans-func),
    visibility var(--trans-time-s) var(--trans-func);
}

.nav-dropdown::before { /* Hoverable top margin for dropdown */
  content: "";
  height: var(--space-l);
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

@media (max-width: /*breakpoint*/480px) {
  .nav-dropdown {
    margin-top: var(--space-xl);
  }

  .nav-dropdown::before {
    height: var(--space-xl);
  }
}

.nav-dropdown-open .nav-dropdown {
  opacity: 1;
  visibility: visible;
}

.nav-dropdown-tr {
  --space-top: var(--space-s);
  --space-lr: var(--space-s);
  --base: var(--space-xl);
  position: absolute;
  bottom: 100%;
  right: calc(var(--space-xxl) - var(--space-lr));
}

.nav-dropdown-tr .tr-shape {
  background-color: var(--color-white);
  box-shadow: var(--shadow-s) var(--color-shadow);
}

.nav-item-dropdown {
  display: block;
  padding: var(--space-m) var(--space-xxl);
}

.nav-contacts {
  display: none;
}

@media (max-width: /*breakpoint*/640px) {
  .nav-contacts {
    display: block;
    white-space: nowrap;
  }

  .nav-line-separator {
    border-top: 1px solid var(--color-gray-light);
    margin: var(--space-m) var(--space-xxl);
  }

  .nav-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--space-m) var(--space-xxl);
  }

  .nav-contact-icon {
    fill: var(--color-black);
    height: var(--text-l);
  }

  .nav-phone .nav-contact-icon {
    fill: var(--color-red);
  }

  .nav-contact-text {
    font-size: var(--text-xs);
    margin-left: var(--space-s);
  }

  .nav-phone .nav-contact-text {
    font-size: var(--text-m);
    font-weight: bold;
  }

  .nav-contacts .btn {
    font-size: var(--text-s);
    margin: var(--space-m) var(--space-xxl);
  }
}

/*******************************************************************************
* Form *
*******************************************************************************/

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: var(--color-shadow);
  overflow: auto; /* Add a scrollbar if needed */
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity var(--trans-time-s) var(--trans-func),
    visibility var(--trans-time-s) var(--trans-func);
}

.form-shown.form-wrapper {
  visibility: visible;
  opacity: 1;
}

.form-content {
  background-color: var(--color-white);
  border-radius: var(--space-s);
  padding: var(--website-padding);
  width: 100%;
  margin: 0 var(--website-padding);
  max-width: 480px;
}

.form-close {
  text-align: right;
}

.form-close-icon {
  height: var(--text-xxl);
  fill: var(--color-red);
}

.form-heading {
  text-align: center;
  margin-top: var(--space-s);
  margin-bottom: var(--space-xl);
}

.form-sub-heading {
  font-style: italic;
  margin-top: var(--space-s);
}

.form > * + * {
  margin-top: var(--space-l);
}

.form-field > * + * {
  margin-top: var(--space-xs);
}

.form-required {
  color: var(--color-red);
}

.form-input {
  width: 100%;
  padding: var(--space-s);
  border: 1px solid var(--color-black);
  opacity: var(--opacity-l);
  border-radius: var(--space-xs);
  transition: opacity var(--trans-time-s) var(--trans-func);
}

.form-input:focus {
  /* Outline doesn't necessarily have rounded corners in all browsers */
  box-shadow: 0 0 0 1px var(--color-black);
  opacity: 1;
}

.form-btn {
  text-align: center;
  margin-top: var(--space-xxl);
}

/*******************************************************************************
* 404 page *
*******************************************************************************/

.not-found-page {
  height: 100vh;
  background-color: var(--color-platinum);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-page-logo {
  height: calc(4 * var(--text-xxl));
  width: auto;
}

.not-found-page-heading {
  margin-top: var(--space-m);
}

.not-found-page .btn {
  margin-top: var(--space-l);
  font-size: var(--text-s);
}

/*******************************************************************************
* About us *
*******************************************************************************/

.about-us-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(0px - var(--space-xl));
  margin-left: calc(0px - var(--space-3xl));
}

.about-us-text > * {
  margin-top: var(--space-xl);
  margin-left: var(--space-3xl);
}

.about-us-main-content {
  flex: 9 1 380px;
}

.about-us-main-content > * + * {
  margin-top: var(--space-m);
}

.about-us-side-content {
  flex: 1 1 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: var(--space-s);
  padding: var(--space-xl) var(--space-l);
  box-shadow: var(--shadow-s) var(--color-shadow);
}

.about-us-side-content > * + * {
  margin-top: var(--space-m);
}

.about-us-side-content-heading {
  color: var(--color-red);
}

.about-us-side-content-paragraph {
  font-size: var(--text-s);
}

.about-us-cards {
  margin-top: var(--space-xxl);
}

.about-us-card {
  background-color: var(--color-platinum);
  border-radius: var(--space-s);
  overflow: hidden;
  padding-bottom: var(--space-xl);
  box-shadow: var(--shadow-s) var(--color-shadow);
}

.about-us-card > *:not(.about-us-card-image) {
  margin-top: var(--space-l);
  padding: 0 var(--space-xl);
}

.about-us-card-image {
  width: 100%;
  height: auto;
}

.about-us-card-paragraph {
  font-size: var(--text-s);
}

/*******************************************************************************
* Photos *
*******************************************************************************/

.photos-wrapper {
  background-color: var(--color-platinum);
}

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: calc(0px - var(--space-xs));
}

.photos-grid > * {
  margin: var(--space-xs);
}

.photos-grid-short-last-row.photos-grid > *:last-child {
  margin-right: auto;
}

@media (hover: hover) and (pointer: fine) {
  .photos-thumbnail-wrapper:hover {
    opacity: 1;
  }
}

.photos-thumbnail {
  height: 200px;
  width: auto;
}

/*******************************************************************************
* Slider *
*******************************************************************************/

.slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: var(--color-shadow-darker);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity var(--trans-time-s) var(--trans-func),
    visibility var(--trans-time-s) var(--trans-func);
}

.slider-shown.slider {
  visibility: visible;
  opacity: 1;
}

.slider-position,
.slider-close,
.slider-prev,
.slider-next {
  position: absolute;
  z-index: 21;
  color: var(--color-gray-lighter);
  background-color: var(--color-shadow-dark);
  margin: var(--space-m);
}

.slider-position {
  top: 0;
  left: 0;
  font-size: var(--text-m);
  border-radius: var(--space-s);
  padding: var(--space-xxs) var(--space-m);
}

.slider-close {
  top: 0;
  right: 0;
  border-radius: var(--space-l);
  padding: var(--space-l);
}

.slider-close-icon {
  height: var(--text-s);
  fill: var(--color-gray-lighter);
}

.slider-slide {
  opacity: 0;
  transition: opacity var(--trans-time-s) var(--trans-func);
}

.slider-current {
  opacity: 1;
}

.slider-img-wrapper {
  position: fixed; /* Safari has a problem with "absolute" */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: 50% 50%;
}

.slider-caption-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 21;
  margin-bottom: var(--space-m);
  transform: translateX(-100%);
}

.slider-caption {
  color: var(--color-gray-lighter);
  background-color: var(--color-shadow-dark);
  font-size: var(--text-m);
  padding: var(--space-m) var(--space-xl);
}

.slider-current .slider-caption {
  transform: translateX(100%);
  transition:
    transform var(--trans-time-m) ease var(--trans-time-s);
}

.slider-prev,
.slider-next {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: var(--space-l);
}

.slider-hide-controls .slider-prev,
.slider-hide-controls .slider-next {
  opacity: 0;
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}

.slider-prev-icon,
.slider-next-icon {
  height: var(--text-xs);
  fill: var(--color-gray-lighter);
}

/*******************************************************************************
* Videos *
*******************************************************************************/

.videos-grid {
  display: grid;
  gap: var(--space-3xl) var(--space-l);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 400px) {
  .videos-grid {
    grid-template-columns: 1fr;
  }
}

.videos-card {
  text-align: center;
}

.videos-card > * + * {
  margin-top: var(--space-l);
}

.videos-video-wrapper-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.videos-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.videos-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  position: relative;
}

.videos-heading {
  font-weight: normal;
  font-size: var(--text-m);
}

/*******************************************************************************
* For and against nursing *
*******************************************************************************/

.for-nursing-wrapper {
  background-color: var(--color-platinum);
}

.against-nursing-wrapper {
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
}

.against-nursing .styled-list > *::before {
  background-color: var(--color-platinum-dark);
  box-shadow: var(--shadow-s) var(--color-shadow-inverse);
}

/*******************************************************************************
* Q&A *
*******************************************************************************/

.q-and-a-wrapper {
  background-color: var(--color-platinum);
}

.q-and-a-question {
  display: flex;
  width: 100%;
  padding: var(--space-m) 0;
  align-items: center;
  justify-content: space-between;
  color: var(--color-green-dark);
  border-bottom: 1px solid var(--color-gray-light);
}

.q-and-a-open.q-and-a-question {
  border-bottom: none;
}

.q-and-a-icon {
  margin-left: var(--space-xl);
  flex-shrink: 0;
  fill: var(--color-red);
  height: var(--text-xs);
  transition: transform var(--trans-time-s) var(--trans-func);
}

.q-and-a-open .q-and-a-icon {
  transform: rotate(180deg);
}

.q-and-a-answer-wrapper {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  border-bottom: 1px solid var(--color-gray-light);
  transition: opacity var(--trans-time-s) var(--trans-func);
}

.q-and-a-open.q-and-a-answer-wrapper {
  visibility: visible;
  position: static;
  opacity: 1;
}

.q-and-a-answer > * + * {
  padding-top: var(--space-l);
}

.q-and-a-answer > *:last-child {
  padding-bottom: var(--space-l);
}

.q-and-a-list {
  padding-left: var(--space-xl);
}

.q-and-a-list > *:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: var(--space-s);
  height: var(--space-s);
  background-color: var(--color-red);
  margin-right: var(--space-m);
}

/*******************************************************************************
* Contacts *
*******************************************************************************/

.contacts > * + * + * {
  margin-top: var(--space-xl);
}

.contacts-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: calc(0px - var(--space-m)) calc(0px - var(--space-xl));
}

.contacts-tiles > * {
  margin: var(--space-m) var(--space-xl);
}

.contacts-contact {
  display: flex;
  align-items: center;
}

.contacts-contact-icon {
  fill: var(--color-red);
  height: var(--text-xl);
}

.contacts-contact-text {
  margin-left: var(--space-s);
  font-size: var(--text-s);
}

.contacts-phone-number {
  font-weight: bold;
  font-size: var(--text-m);
}

.contacts-phone-hours {
  font-size: var(--text-xs);
}

.contacts-whatsapp .contacts-contact-icon {
  fill: var(--color-black);
}

.contacts-addresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

.contacts-reviews {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--space-s)) calc(0px - var(--space-m));
  font-size: var(--text-s);
}

.contacts-reviews > * {
  margin: var(--space-s) var(--space-m);
}

.contacts-google {
  color: hsl(217, 89%, 38%);
  border-color: hsl(217, 89%, 38%);
}

.contacts-yandex {
  color: hsl(5, 100%, 45%);
  border-color: hsl(5, 100%, 45%);
}

.contacts-2gis {
  color: hsl(103, 100%, 20%);
  border-color: hsl(103, 100%, 20%);
}

.contacts-zoon {
  color: hsl(253, 90%, 55%);
  border-color: hsl(253, 90%, 55%);
}

#contacts-map {
  width: 100%;
  height: 380px;
}

/*******************************************************************************
* Corona *
*******************************************************************************/

.corona-wrapper {
  background-color: var(--color-platinum);
}

.corona-list > * {
  display: flex;
  align-items: flex-start;
}

.corona-list > * + * {
  margin-top: var(--space-xxl);
}

.corona-marker {
  flex-shrink: 0;
  height: var(--text-l);
  fill: var(--color-red);
  margin-right: var(--space-m);
}

/*******************************************************************************
* Footer *
*******************************************************************************/

.footer-wrapper {
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
}

.footer-text-and-contacts {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - var(--space-4xl));
}

.footer-text-and-contacts > * {
  margin: var(--space-l) 0 var(--space-l) var(--space-4xl);
}

.footer-text {
  flex: 1 1 300px;
  max-width: 450px;
  font-size: var(--text-s);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contacts > * + * {
  margin-top: var(--space-m);
}

.footer-contact {
  display: flex;
  align-items: center;
}

.footer-contact-icon {
  fill: var(--color-gray-light);
  height: var(--text-m);
}

.footer-contact-text {
  font-size: var(--text-s);
  color: var(--color-gray-light);
  margin-left: var(--space-s);
}

.footer-phone .footer-contact-text {
  font-size: var(--text-s);
}

.footer-line-separator {
  border-top: 1px solid hsl(0, 0%, 30%);
  position: absolute;
  left: 0;
  right: 0;
}

.footer-copyright {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright-text {
  font: 500 var(--text-s) "Alegreya SC", Arial, sans-serif;
  text-align: center;
}

.footer-copyright > * + * {
  margin-top: var(--space-m);
}

.footer-logo {
  transition: none;
}

@media (hover: hover) and (pointer: fine) {
  .footer-logo:hover {
    opacity: 1;
  }
}

.footer-logo-img {
  height: calc(4.5 * var(--text-s));
  width: auto;
}